@model EasyWedding.Models.ShopItem
@{
    ViewBag.Title = "Lista de Presentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show</h2>

Name: <text>@Model.Name</text><br />
Description: <text>@Model.Description</text><br />
Quantity Left: <text>@Model.Quantity</text><br />
Unit Price: <text>@Model.UnitPrice</text><br />